<div>
    <p>This guide defines the following profiles. </p>
    <table class="codes">
        <tr>
            <td>
                <b>Profile Name</b>
            </td>
            <td>
                <b>Description</b>
            </td>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Composition.html">Pharmacist Care Plan Document (FHIR)</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Intervention-List.html">PhCP Intervention List</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Intervention-RequestGroup.html">PhCP Intervention Request Group</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Encounter.html">PhCP Encounter</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-MedicationDispense.html">PhCP Medication Dispense</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-CareCoordination.html">PhCP Care Coordination</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Education-Procedure.html">PhCP Education Procedure</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Referral-ProcedureRequest.html">PhCP Referral ProcedureRequest</a>
            </td>
            <td/>
        </tr>
        <tr>
            <td>
                <a href="StructureDefinition-PhCP-Coverage.html">PhCP Coverage</a>
            </td>
            <td/>
        </tr>
    </table>
</div>
