<p>This guide references the following value sets. Note: value sets defined in the base <a href="http://hl7.org/fhir/composition.html">Composition</a> resource are not included in this list. </p>
<table class="codes">
    <thead>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Definition</b>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.9.34.html"
                    >Patient Education</a>
            </td>
            <td>Terms descending from the Education (409073007) hierarchy of SNOMED CT.</td>
        </tr>
        <tr>
            <td>
                <a href="http://hl7.org/fhir/us/core/ValueSet/us-core-medication-codes"
                    >US Core Medication Codes</a>
            </td>
            <td>All prescribable medication formulations represented using either a 'generic' or 'brand-specific' concept. This includes RxNorm codes whose Term Type is SCD (semantic clinical drug), SBD (semantic brand drug), GPCK (generic pack), BPCK (brand pack), SCDG (semantic clinical drug group), SBDG (semantic brand drug group), SCDF (semantic clinical drug form), or SBDF (semantic brand drug form)</td>
        </tr>
        
    </tbody>
</table>

